<!--
  Generated template for the KycHomeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="app">
    <ion-title>HOME DETAILS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="home">
		<ion-list>
			<div padding>

				<ion-item>
					<ion-label floating>Type of house</ion-label>
					<ion-input formControlName="f3_house_type" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!home.controls.f3_house_type.valid  && (home.controls.f3_house_type.dirty || submitAttempt)">
					<p *ngIf="home.controls.f3_house_type.errors.required">Please enter a valid name.</p>
					<p *ngIf="home.controls.f3_house_type.errors.maxlength">Length shoud be equal to or smaller than {{home.controls.f3_house_type.errors.maxlength.requiredLength}}</p>
				</div>	<!-- Type of house -->

				<ion-item>
				    <ion-label floating>Electricity<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_electricity" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_electricity.invalid  && (home.controls.f3_is_electricity.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_electricity.errors.required">This field is required.</p>
		        </div>	<!-- Electricity -->

		        <ion-item>
				    <ion-label floating>Gas Connection<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_gas_connection" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_gas_connection.invalid  && (home.controls.f3_is_gas_connection.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_gas_connection.errors.required">This field is required.</p>
		        </div>	<!-- Gas Connection -->

		        <ion-item>
				    <ion-label floating>TV<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_tv" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_tv.invalid  && (home.controls.f3_is_tv.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_tv.errors.required">This field is required.</p>
		        </div>	<!-- TV -->

		        <ion-item>
				    <ion-label floating>Radio<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_radio" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_radio.invalid  && (home.controls.f3_is_radio.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_radio.errors.required">This field is required.</p>
		        </div>	<!-- Radio -->

		        <ion-item>
				    <ion-label floating>Fan<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_fan" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_fan.invalid  && (home.controls.f3_is_fan.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_fan.errors.required">This field is required.</p>
		        </div>	<!-- Fan -->

		        <ion-item>
				    <ion-label floating>Mobile<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_mobile" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_mobile.invalid  && (home.controls.f3_is_mobile.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_mobile.errors.required">This field is required.</p>
		        </div>	<!-- Mobile -->

		        <ion-item>
				    <ion-label floating>Mixer<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_mixer" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_mixer.invalid  && (home.controls.f3_is_mixer.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_mixer.errors.required">This field is required.</p>
		        </div>	<!-- Mixer -->

		        <ion-item>
				    <ion-label floating>Cooker<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_cooker" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_cooker.invalid  && (home.controls.f3_is_cooker.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_cooker.errors.required">This field is required.</p>
		        </div>	<!-- Cooker -->

		        <ion-item>
				    <ion-label floating>Bed<span>*</span></ion-label>
				    <ion-select formControlName="f3_is_bed" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="home.controls.f3_is_bed.invalid  && (home.controls.f3_is_bed.dirty || submitAttempt)">
		            <p *ngIf="home.controls.f3_is_bed.errors.required">This field is required.</p>
		        </div>	<!-- Bed -->

		        <ion-item>
					<ion-label floating>Number Of Chairs</ion-label>
					<ion-input formControlName="f3_num_of_chairs" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!home.controls.f3_num_of_chairs.valid  && (home.controls.f3_num_of_chairs.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Number Of Chairs -->

		        <ion-item>
					<ion-label floating>Number Of Cycle</ion-label>
					<ion-input formControlName="f3_num_of_cycle" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!home.controls.f3_num_of_cycle.valid  && (home.controls.f3_num_of_cycle.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Number Of Cycle -->

		        <ion-item>
					<ion-label floating>Number Of Motorcycle</ion-label>
					<ion-input formControlName="f3_num_of_motorcycle" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!home.controls.f3_num_of_motorcycle.valid  && (home.controls.f3_num_of_motorcycle.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Number Of Motorcycle -->

			</div>
		</ion-list>
	</form>

	<ion-fab top right edge>
		<button (click)="save()" ion-fab><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>
</ion-content>
