<!--
  Generated template for the KycFamilyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar color="app">
    	<ion-title>FINANCIAL AND OCCUPATION</ion-title>
  	</ion-navbar>
  	<!-- <ion-toolbar color="app">
		<ion-title>Total : {{family.controls.f6_points.value}}</ion-title>
  	</ion-toolbar> -->

</ion-header>


<ion-content padding>
	<form [formGroup]="financial_and_occupation">
		<ion-list>
			<div padding>
				
				<ion-item>
				    <ion-label floating>Do You Have Bank Account? <span>*</span></ion-label>
				    <ion-select formControlName="f1_have_bank_account" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
				    </ion-select>
				</ion-item>
				<div *ngIf="financial_and_occupation.controls.f1_have_bank_account.invalid  && (financial_and_occupation.controls.f1_have_bank_account.dirty || submitAttempt)">
		            <p *ngIf="financial_and_occupation.controls.f1_have_bank_account.errors.required">This field is required.</p>
		        </div> <!-- Do you have a Bank Account -->

		        <ion-item>
				    <ion-label floating>Financial Status <span>*</span></ion-label>
				    <ion-select formControlName="f1_financial_status_id" interface="popover">
						<ion-option value="1">BPL</ion-option>
						<ion-option value="2">APL </ion-option>
						<ion-option value="3">Anthodaya</ion-option>
						<ion-option value="4">White Ration Card</ion-option>
				    </ion-select>
				</ion-item>
				<div *ngIf="financial_and_occupation.controls.f1_financial_status_id.invalid  && (financial_and_occupation.controls.f1_financial_status_id.dirty || submitAttempt)">
		            <p *ngIf="financial_and_occupation.controls.f1_financial_status_id.errors.required">This field is required.</p>
		        </div>	<!-- Financial Status -->

				<ion-item>
					<ion-label floating>Annual Income of Woman</ion-label>
					<ion-input formControlName="f1_woman_anuual_income" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!financial_and_occupation.controls.f1_woman_anuual_income.valid  && (financial_and_occupation.controls.f1_woman_anuual_income.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Annual Income of Woman --> 

				<ion-item>
				    <ion-label floating>Occupation <span>*</span></ion-label>
				    <ion-select formControlName="occupation_id" interface="popover">
						<ion-option value="1">Farming</ion-option>
						<ion-option value="2">Dairy</ion-option>
						<ion-option value="3">Goatery</ion-option>
						<ion-option value="4">Poultry</ion-option>
						<ion-option value="5">Service</ion-option>
						<ion-option value="6">Business</ion-option>
						<ion-option value="7">Labor</ion-option>			      
				    </ion-select>
				</ion-item>
				<div *ngIf="financial_and_occupation.controls.occupation_id.invalid  && (financial_and_occupation.controls.occupation_id.dirty || submitAttempt)">
		            <p *ngIf="financial_and_occupation.controls.occupation_id.errors.required">This field is required.</p>
		        </div>	<!-- Main Occupation  -->

				<ion-item>
					<ion-label floating>How Many Day's Labor Work Was Available in a year</ion-label>
					<ion-input formControlName="f1_num_of_days_labor_work" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!financial_and_occupation.controls.f1_num_of_days_labor_work.valid  && (financial_and_occupation.controls.f1_num_of_days_labor_work.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- How Many Day's Labor Work Was Available in a year -->

				<ion-item>
					<ion-label floating>Labor work Rate/Day's</ion-label>
					<ion-input formControlName="f1_labor_work_rate" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!financial_and_occupation.controls.f1_labor_work_rate.valid  && (financial_and_occupation.controls.f1_labor_work_rate.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Labor work Rate/Day's   -->

				<ion-item>
					<ion-label floating>Therefore, Income from Labor</ion-label>
					<ion-input formControlName="f1_income_from_labor" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!financial_and_occupation.controls.f1_income_from_labor.valid  && (financial_and_occupation.controls.f1_income_from_labor.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Therefore, Income from Labor --> 
			</div>
		</ion-list>
		
	</form>
		<ion-fab top right edge>
			<button (click)="save()" ion-fab><ion-icon name="checkmark"></ion-icon></button>
	    </ion-fab>
</ion-content>
