<!--
  Generated template for the KycFamilyDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="app">
		<ion-title>FAMMILY DETAILS</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="family">
		<ion-list>
			<div padding>

				<ion-item>
					<ion-label floating>Name of Husband</ion-label>
					<ion-input formControlName="f2_husband_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_husband_name.valid  && (family.controls.f2_husband_name.dirty || submitAttempt)">
					<p *ngIf="family.controls.f2_husband_name.errors.required">Please enter a valid name.</p>
					<p *ngIf="family.controls.f2_husband_name.errors.maxlength">Length shoud be equal to or smaller than {{family.controls.f2_husband_name.errors.maxlength.requiredLength}}</p>
				</div>	<!-- Name of Husband -->

				<ion-item>
					<ion-label floating>Contact Number</ion-label>
					<ion-input formControlName="f2_contact_number" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_contact_number.valid  && (family.controls.f2_contact_number.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Contact Number -->

				<ion-item>
				    <ion-label floating>Education<span>*</span></ion-label>
				    <ion-select formControlName="f2_education_id" interface="popover">
						<ion-option value="illiterate">illiterate</ion-option>
						<ion-option value="tenth or under">tenth or under</ion-option>
						<ion-option value="12th std">12th std</ion-option>
						<ion-option value="graduation">graduation</ion-option>
						<ion-option value="post graduation">post graduation</ion-option>
 					</ion-select>
				</ion-item>
				<div *ngIf="family.controls.f2_education_id.invalid  && (family.controls.f2_education_id.dirty || submitAttempt)">
		            <p *ngIf="family.controls.f2_education_id.errors.required">This field is required.</p>
		        </div>	<!-- Education -->

		        <ion-item>
				    <ion-label floating>Occupation <span>*</span></ion-label>
				    <ion-select formControlName="occupation_id" interface="popover">
						<ion-option value="Farming">Farming</ion-option>
						<ion-option value="Dairy">Dairy</ion-option>
						<ion-option value="Goatery">Goatery</ion-option>
						<ion-option value="Poultry">Poultry</ion-option>
						<ion-option value="Service">Service</ion-option>
						<ion-option value="Business">Business</ion-option>
						<ion-option value="Labor">Labor</ion-option>			      
				    </ion-select>
				</ion-item>
				<div *ngIf="family.controls.occupation_id.invalid  && (family.controls.occupation_id.dirty || submitAttempt)">
		            <p *ngIf="family.controls.occupation_id.errors.required">This field is required.</p>
		        </div>	<!-- Occupation -->

		        <ion-item>
					<ion-label floating>How Many Day's Labor Work Was Available</ion-label>
					<ion-input formControlName="f2_num_of_days_labor_work" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_num_of_days_labor_work.valid  && (family.controls.f2_num_of_days_labor_work.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- How Many Day's Labor Work Was Available in a year -->

				<ion-item>
					<ion-label floating>Labor work Rate/Day's</ion-label>
					<ion-input formControlName="f2_labor_work_rate" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_labor_work_rate.valid  && (family.controls.f2_labor_work_rate.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Labor work Rate/Day's -->

				<ion-item>
					<ion-label floating>Annual Income of Husband</ion-label>
					<ion-input formControlName="f2_husband_annual_income" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_husband_annual_income.valid  && (family.controls.f2_husband_annual_income.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Annual Income of Husband -->

				<ion-item>
					<ion-label floating>Number of Earning Members</ion-label>
					<ion-input formControlName="f2_num_of_earning_members" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_num_of_earning_members.valid  && (family.controls.f2_num_of_earning_members.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Number of Earning Members -->

				<ion-item>
					<ion-label floating>Annuual Income of Family </ion-label>
					<ion-input formControlName="f2_annual_income_of_family" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!family.controls.f2_annual_income_of_family.valid  && (family.controls.f2_annual_income_of_family.dirty || submitAttempt)">
					<p>Please enter a valid entry</p>
				</div>	<!-- Annuual Income of Family -->

			</div>
		</ion-list>
	</form>

	<ion-fab top right edge>
		<button (click)="save()" ion-fab><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>
</ion-content>
